<div class="background-div">
  <div class="form-page-wrapper user-edit-page">

    <div class="user-edit-page__nav">
      <%= link_to dashboard_index_path, class: "custom-back-btn-link" do %>
        <span class="custom-btn-inner">← Back</span>
      <% end %>
      <div class="nav-spacer"></div>
      <%= link_to "🏠 Home", root_path, class: "user-edit-btn user-edit-btn--home" %>
    </div>

    <div class="user-edit-page__content">
      <h1 class="user-edit-page__title">Edit <%= resource_name.to_s.humanize %></h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "user-edit-form", multipart: true }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="user-edit-form__group">
          <%= f.label :email, class: "user-edit-form__label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user-edit-form__input" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="user-edit-form__info">
            Currently waiting confirmation for: <%= resource.unconfirmed_email %>
          </div>
        <% end %>

        <div class="user-edit-form__group">
          <%= f.label :password, class: "user-edit-form__label" %>
          <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "new-password", class: "user-edit-form__input" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="user-edit-form__group">
          <%= f.label :password_confirmation, class: "user-edit-form__label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "user-edit-form__input" %>
        </div>

        <div class="user-edit-form__group">
          <%= f.label :current_password, class: "user-edit-form__label" %>
          <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "user-edit-form__input" %>
        </div>

        <div class="user-edit-form__group">
          <%= f.label :avatar, class: "user-edit-form__label" %>
          <%= f.file_field :avatar, class: "user-edit-form__file" %>
        </div>

        <div class="user-edit-form__actions">
          <%= f.submit "Update", class: "user-edit-form__btn" %>
        </div>
      <% end %>

      <h3 class="user-edit-page__title">Cancel my account</h3>
      <div class="user-edit-form__actions">
        <%= button_to "Cancel my account", registration_path(resource_name),
            data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete,
            class: "user-edit-form__btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
