<div class="background-div">
  <div class="favorites-page">
    <div class="favorites-page__container">

      <section class="favorites-page__cards-grid">
        <div class="favorites-page__header">
          <a href="#" onclick="window.history.back(); return false;" class="custom-back-btn-link">
            <span class="custom-btn-inner">← Back</span>
          </a>
        </div>

        <h1 class="favorites-page__title">Favorites</h1>

        <% if @favorites.present? %>
          <% @favorites.each do |favorite| %>
            <article class="favorites-page__card">
              <div class="favorites-page__card-delete-wrapper">
                <%= button_to "×", favorite_path(favorite), method: :delete, form_class: "remove-favorite-form", class: "favorites-page__card-delete-x", data: { turbo_confirm: "Are you sure you want to remove this favorite recipe?" } %>
              </div>

              <div class="favorites-page__card-image-wrapper">
                <% if favorite.recipe.image.attached? %>
                  <%= image_tag favorite.recipe.image, alt: "Image for #{favorite.recipe.title}", class: "favorites-page__card-image" %>
                <% else %>
                  <%= image_tag "placeholder.jpg", alt: "Placeholder image", class: "favorites-page__card-image" %>
                <% end %>
              </div>

              <h3 class="favorites-page__card-title"><%= favorite.recipe.title %></h3>

              <p class="favorites-page__meta">
                <%= truncate(favorite.recipe.description, length: 100) %>
              </p>

              <%= link_to "View Recipe", recipe_path(favorite.recipe), class: "btn" %>
            </article>
          <% end %>
        <% else %>
          <p class="favorites-page__no-favorites-msg">You haven’t favorited anything yet!</p>
        <% end %>
      </section>
    </div>
  </div>
</div>
